.heading{
    color: antiquewhite;
    font-size: 23px;
width: 100%;
box-shadow: 5px,5px,5px,5px,grey;
margin: 0px;
}
.note{
    color: black;
    font-size: 12px;
}
.copy_right_footer{
    position: fixed;
    background-color: grey;
    width: 100%;
    bottom: 0;
    text-align: center;
    line-height: 3;
    color:midnightblue;
}
canvas{
    box-shadow: 5px,5px,5px,5px,grey;
    border-radius: 20px;
    border:5px solid white;
}